html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	text-align: left;
	background-image: url('giftly.png');
	font-family: 'Inconsolata';
	letter-spacing: 1px;
	font-weight: bold;
}

#wrapper {
	min-height: 100%;
	width: 100%;
	position: relative;
}

#header {
	padding: 10px;
	background-image: url('food.png');
	font-size: 32px;
	opacity: 0.8;
	text-align: center;
	color: black;
}

#content {
	padding-bottom: 160px;
	width: auto;
	height: auto;
	margin-right: 75px;
	margin-left: 75px;
	font-size: 20px;
	position: relative;
	top: 50px;
}

#footer {
	height: 160px;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 16px;
	padding: 25px;
	text-align: center;
	background-image: url('food.png');
	opacity: 0.8;
}

button {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding-bottom: 15px;
	position: relative;
	left: 15px;
	background-image: url('food.png');
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}